transformer_engine==2.8.0+40c69e75
flash_attn==2.8.3
flash_attn_3==3.0.0b1
seaborn==0.13.2
py3nvml==0.2.7
pandas==2.3.3
Megatron==0.5.1
-e git+https://github.com/NVIDIA/Megatron-LM.git@dev#egg=megatron-core
